doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='apple-touch-icon' sizes='76x76' href='/assets/img/apple-icon.png')
  link(rel='icon' type='image/png' href='/assets/img/favicon.png')
  title=title ? title : 'Giặt là 83'
  // Fonts and icons
  link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700')
  // Nucleo Icons
  link(href='/assets/css/nucleo-icons.css' rel='stylesheet')
  link(href='/assets/css/nucleo-svg.css' rel='stylesheet')
  // Font Awesome Icons
  script(src='https://kit.fontawesome.com/42d5adcbca.js' crossorigin='anonymous')
  // Material Icons
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons+Round' rel='stylesheet')
  // CSS Files
  link#pagestyle(href='/assets/css/material-dashboard.css?v=3.0.0' rel='stylesheet')
body.g-sidenav-show.bg-gray-200
  include ./parts/aside
  main.main-content.position-relative.max-height-vh-100.h-100.border-radius-lg
    // Navbar
    include ./parts/navbar
    // End Navbar
    .container-fluid.py-4
      .row
        block content

  include ./parts/plugin
  // Core JS Files
  script(src='/assets/js/core/popper.min.js')
  script(src='/assets/js/core/bootstrap.min.js')
  script(src='/assets/js/plugins/perfect-scrollbar.min.js')
  script(src='/assets/js/plugins/smooth-scrollbar.min.js')
  script(src='/assets/js/core/jquery-3.6.1.slim.js')
  script(src='/javascripts/function.js')
  script.
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  // Control Center for Material Dashboard: parallax effects, scripts for the example pages etc
  script(src='/assets/js/material-dashboard.js')
