nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
	.container-fluid
		a.navbar-brand(href='/') Giặt là 83
		button.navbar-toggler(type='button' data-bs-toggle='offcanvas' data-bs-target='#offcanvasDarkNavbar' aria-controls='offcanvasDarkNavbar')
			span.navbar-toggler-icon
		#offcanvasDarkNavbar.offcanvas.offcanvas-end.text-bg-dark(tabindex='-1' aria-labelledby='offcanvasDarkNavbarLabel')
			.offcanvas-header
				h5#offcanvasDarkNavbarLabel.offcanvas-title Giặt là 83
				button.btn-close.btn-close-white(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
			.offcanvas-body
				ul.navbar-nav.justify-content-end.flex-grow-1.pe-3
					li.nav-item
						a.nav-link.active(aria-current='page' href='/') Trang chủ
					li.nav-item
						a.nav-link(href='/customer') Khách hàng
					li.nav-item
						a.nav-link(href='/order') Đơn
					li.nav-item
					//	a.nav-link(href='#') Thông tin Cửa hàng
					//li.nav-item
					//	a.nav-link(href='#') Tích điểm
					//li.nav-item
					//	a.nav-link(href='#') Trạng thái
					//li.nav-item.dropdown
					//	a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
					//		| Cài đặt
					//	ul.dropdown-menu.dropdown-menu-dark
					//		li
					//			a.dropdown-item(href='#') Thông tin Cửa hàng
					//		li
					//			a.dropdown-item(href='#') Tích điểm
							//li
							//	hr.dropdown-divider
							//li
							//	a.dropdown-item(href='#') Something else here
				//form.d-flex.mt-3(role='search')
				//	input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
				//	button.btn.btn-success(type='submit') Search
