extends layout

block content
  .container.mt-5.pt-3
    .row
      .col-12.col-sm-10.col-lg-8.col-xl-6.offset-sm-1.offset-lg-2.offset-xl-3
        .card
          .card-header
            h5 Cập nhập phần trăm tính điểm
          .card-body
            form.input-group.input-group-outline(method='post' action='/point')
              input.form-control(type='number' aria-label='point' name='discount' required value=point.discount)
              button.btn.btn-primary(type='submit') Cập nhật tính điểm
