extends ../layout

block content
  include parts/detailOrder
  .container.mt-5.pt-3
    .row
      .col-12.col-sm-8.col-lg-6.col-xl-4.offset-sm-2.offset-lg-3.offset-xl-4
        +detailOrder(order, order.customer, 'Chi tiết đơn hàng', listStatus)
