nav#navbarBlur.navbar.navbar-main.navbar-expand-lg.px-0.mx-4.shadow-none.border-radius-xl(navbar-scroll='true')
	.container-fluid.py-1.px-3
		nav(aria-label='breadcrumb')
			h6.font-weight-bolder.mb-0=moduleName ? moduleName : 'Unknown'
		#navbar.collapse.navbar-collapse.mt-sm-0.mt-2.me-md-0.me-sm-4
			.ms-md-auto.pe-md-3.d-flex.align-items-center
				form.input-group.input-group-outline(method='get' action='/search')
					label.form-label SĐT hoặc ID đơn hàng
					input.form-control(type='text' name='key')
			ul.navbar-nav.justify-content-end
				li.nav-item.d-flex.align-items-center
					a.nav-link.text-body.font-weight-bold.px-0(href='/profile')
						i.fa.fa-user.me-sm-1
						span.d-sm-inline.d-none=user && user.alias ? user.alias : 'Người dùng'
				li.nav-item.d-xl-none.ps-3.d-flex.align-items-center
					a#iconNavbarSidenav.nav-link.text-body.p-0(href='javascript:;')
						.sidenav-toggler-inner
							i.sidenav-toggler-line
							i.sidenav-toggler-line
							i.sidenav-toggler-line
				li.nav-item.px-3.d-flex.align-items-center
					a.nav-link.text-body.p-0(href='javascript:;')
						i.fa.fa-cog.fixed-plugin-button-nav.cursor-pointer
