extends ../layout

block content
	.card.my-4
		.card-header.p-0.position-relative.mt-n4.mx-3.z-index-2
			.bg-gradient-primary.shadow-primary.border-radius-lg.pt-4.pb-3
				h6.text-white.text-capitalize.ps-3 Danh sách khách hàng
		if listCustomer && listCustomer.length
			include ../parts/customer/list
			//.list-group
			//	each el in listCustomer
			//		a.list-group-item.list-group-item-action(href=`/customer/${el.phone}` aria-current='true')
			//			.d-flex.w-100.justify-content-between
			//				div
			//					h5.mb-1= el.fullName
			//				if el.orders && el.orders.length
			//					div
			//						if el._doc.point
			//							span.badge.bg-success.rounded-pill.mx-1= `${el._doc.point} điểm`
			//						span.badge.bg-primary.rounded-pill.mx-1= `${el.orders.length} đơn`
			//			p.mb-1=el.address
			//			small.text-muted= el.phone
